.cont {
  margin-top: 30%;
}

.cont2 {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title1 {
  font-size: 50px;
}

.text1 {
  font-size: 20px;
}

.btns1 {
  width: 30%;
}
