.navbarrr {
  width: 100%;
  margin-top: 20%;
}

.navbar2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.cont1 {
  width: 100%;
}

.searchResult {
  margin: 20px;
  border: solid 2px black;
}

.searchBar {
  margin-top: 10%;
}

.nominated {
  margin: 20px;
  border: solid 2px black;
}

.widget {
  margin-right: 5%;
  margin-left: 50%;
}

.searchinput {
  width: 80%;
}

.btns {
  width: 50%;
}
